<?xml version="1.0" ?>
<model>
    <name>simple_checkerboard</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Jean-Baptiste Murphy</name>
        <email>jean-baptiste.murphy@parrot.com</email>
    </author>
    <description>Simple Checkerboard</description>
</model>
