<?xml version="1.0" ?>
<model>
  <name>magic_carpet_bw</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Thierry Baldo</name>
    <email>thierry.baldo@parrot.com</email>
  </author>
  <description>Magic carpet (with black and white squares)</description>
</model>
