<?xml version="1.0"?>

<model>
  <name>Bigcone</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Samuel Lekieffre</name>
    <email>samuel.lekieffre@parrot.com</email>
  </author>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <description>
    A 500-meter high cone with a platform on the top.
  </description>

</model>
