<?xml version="1.0" ?>
<model>
    <name>checkerboard_plane</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Nicolas Dessart</name>
        <email>nicolas.dessart@parrot.com</email>
    </author>
    <description>Checkerboard plane</description>
</model>
