<?xml version="1.0"?>
<model>
    <name>120m_landscape_smooth_tri</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
      <name>Olivier Crave</name>
      <email>olivier.crave@parrot.com</email>
    </author>

    <description>
      Rolling Landscape (https://github.com/tum-vision/tum_simulator).
    </description>
</model>
